In [42]:
# Data Structures in Python

### 1. What are data structures, and why are they important?
# Data structures are organized ways to store and manage data to perform operations efficiently.
# Examples: arrays, lists, stacks, queues, dictionaries, sets, and graphs.
# Importance: They optimize processing and retrieval of data, impacting performance of algorithms and applications.

### 2. Explain the difference between mutable and immutable data types with examples.
# Mutable: Can be modified after creation.
my_list = [1, 2, 3]  # Example of mutable
def modify_list(lst):
    lst[0] = 0
modify_list(my_list)
print(my_list)  # Output: [0, 2, 3]

# Immutable: Cannot be modified after creation.
my_tuple = (1, 2, 3)  # Example of immutable
# my_tuple[0] = 0  # Raises a TypeError

### 3. What are the main differences between lists and tuples in Python?
# Lists are mutable, whereas tuples are immutable.
# Lists consume more memory and have slightly slower operations than tuples due to their flexibility.
my_list = [1, 2, 3]  # Mutable
my_tuple = (1, 2, 3)  # Immutable

### 4. Describe how dictionaries store data.
# Dictionaries store data in key-value pairs. Internally, Python uses hash tables, where the keys are hashed to find an index in memory. This allows for fast lookups and updates.

### 5. Why might you use a set instead of a list in Python?
# Sets are used to store unique elements and perform mathematical operations like unions, intersections, and differences. They also provide faster membership testing (`in` operator) than lists.
my_set = {1, 2, 3}
print(2 in my_set)  # Output: True

### 6. What is a string in Python, and how is it different from a list?
# A string is a sequence of characters, while a list can contain elements of any data type.
# Strings are immutable, whereas lists are mutable.
my_string = "hello"  # Immutable
my_list = ['h', 'e', 'l', 'l', 'o']  # Mutable

### 7. How do tuples ensure data integrity in Python?
# Tuples are immutable, so their contents cannot be changed after creation. This ensures that the data remains consistent and prevents accidental modification.

### 8. What is a hash table, and how does it relate to dictionaries in Python?
# A hash table is a data structure that maps keys to values using a hash function. Python dictionaries use hash tables to achieve average O(1) time complexity for lookups, insertions, and deletions.

### 9. Can lists contain different data types in Python?
# Yes, lists can store elements of mixed data types.
my_list = [1, "hello", 3.14]
print(my_list)  # Output: [1, "hello", 3.14]

### 10. Explain why strings are immutable in Python.
# Strings are immutable to ensure thread safety, optimize performance, and allow them to be used as keys in dictionaries (hashable).

### 11. What advantages do dictionaries offer over lists for certain tasks?
# Dictionaries provide fast lookups and allow storing data in a key-value format, making them ideal for tasks involving quick access to data using a key.

### 12. Describe a scenario where using a tuple would be preferable over a list.
# Use tuples when you need a fixed, unchangeable collection of elements, such as coordinates or a configuration that should not be altered.
coordinates = (10, 20)

### 13. How do sets handle duplicate values in Python?
# Sets automatically eliminate duplicate values.
my_set = {1, 2, 2, 3}
print(my_set)  # Output: {1, 2, 3}

### 14. How does the `in` keyword work differently for lists and dictionaries?
# For lists, `in` checks for the presence of a value.
# For dictionaries, `in` checks for the presence of a key.
my_list = [1, 2, 3]
my_dict = {"a": 1, "b": 2}
print(1 in my_list)  # Output: True
print("a" in my_dict)  # Output: True

### 15. Can you modify the elements of a tuple? Explain why or why not.
# No, you cannot modify elements of a tuple because tuples are immutable. This makes them suitable for ensuring data integrity.

### 16. What is a nested dictionary, and give an example of its use case?
# A nested dictionary is a dictionary containing another dictionary as its value.
employee_data = {
    "Alice": {"age": 30, "department": "HR"},
    "Bob": {"age": 25, "department": "IT"}
}
print(employee_data["Alice"]["department"])  # Output: HR

### 17. Describe the time complexity of accessing elements in a dictionary.
# Accessing elements in a dictionary has an average time complexity of O(1) due to its hash table implementation.

### 18. In what situations are lists preferred over dictionaries?
# Lists are preferred when the order of elements is important or when you need to perform operations on sequences without the need for key-based lookups.

### 19. Why are dictionaries considered unordered, and how does that affect data retrieval?
# Dictionaries are historically unordered because they store data based on hash values. However, starting with Python 3.7, dictionaries maintain insertion order, though retrieval is still key-based and does not depend on the order.

### 20. Explain the difference between a list and a dictionary in terms of data retrieval.
# List: Retrieval is based on index position.
# Dictionary: Retrieval is based on keys, which allows for faster and more intuitive lookups.
my_list = [10, 20, 30]
my_dict = {"a": 10, "b": 20, "c": 30}
print(my_list[1])  # Output: 20
print(my_dict["b"])  # Output: 20

[0, 2, 3]
True
[1, 'hello', 3.14]
{1, 2, 3}
True
True
HR
20
20

In [ ]:
# 1  Write a code to create a string with your name and print it.
name= "radhen borad"
print(name)

radhen borad

In [ ]:
## 2 Write a code to find the length of the string "Hello World"
len("hello world")

11

In [ ]:
#3  Write a code to slice the first 3 characters from the string "Python Programming".
s = "Python Programming"
s[0:3]

'Pyt'

In [ ]:
# 4 Write a code to convert the string "hello" to uppercase.
a ="hello"
a.upper()

'HELLO'

In [ ]:
# 5 Write a code to replace the word "apple" with "orange" in the string "I like apple".

b="I like apple"

b.replace("apple", "orange")

'I like orange'

In [ ]:
# 6 Write a code to create a list with numbers 1 to 5 and print it.
c=[1,2,3,4,5]
print(c)

[1, 2, 3, 4, 5]

In [ ]:
#7 Write a code to append the number 10 to the list [1, 2, 3, 4].

ra = [1,2,3,4]
ra.append(10)
print(ra)

[1, 2, 3, 4, 10]

In [ ]:
#8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
rb = [1, 2, 3, 4, 5]
rb.remove(3)
print(rb)

[1, 2, 4, 5]

In [ ]:
#9 Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
rr = ['a', 'b', 'c', 'd']
rr[1]

'b'

In [ ]:
#10 Write a code to reverse the list [10, 20, 30, 40, 50].

t = [10, 20, 30, 40, 50]

t[::-1]

[50, 40, 30, 20, 10]

In [ ]:
#11 Write a code to create a tuple with the elements 10, 20, 30 and print it.


my_tuple = (10, 20, 30)


print(my_tuple)

(10, 20, 30)

In [ ]:
 # 12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
 tuple1 =  ("apple", "banana", "cherry")
 tuple1[0]

'apple'

In [ ]:
## 13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)

T2 =  (1, 2, 3, 2, 4, 2)

T2.count(2)

3

In [ ]:
 #14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

 t3 = ('dog', 'cat', 'rabbit')

 t3.index('cat')

1

In [ ]:
# 15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

t4 = ('apple', 'orange', 'banana')

if 'banana'in t4:
  print("yes")
else:
  print("no")

yes

In [ ]:
#16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

s1 = {1,2,3,4,5}
print(s1)

{1, 2, 3, 4, 5}

In [ ]:
#17. Write a code to add the element 6 to the set {1, 2, 3, 4}

s2 = {1, 2, 3, 4}
s2.add(6)
s2

{1, 2, 3, 4, 6}

In [ ]:
#  18. Write a code to create a tuple with the elements 10, 20, 30 and print it.

my_tuple = (10, 20, 30)


print(my_tuple)

(10, 20, 30)

In [ ]:
# 19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').


tuple1 =  ("apple", "banana", "cherry")
tuple1[0]

'apple'

In [ ]:
# 20   Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)

T2 =  (1, 2, 3, 2, 4, 2)

T2.count(2)

3

In [38]:
#21  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

t3 = ('dog', 'cat', 'rabbit')

t3.index('cat')

1

In [39]:
#22#  Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

t4 = ('apple', 'orange', 'banana')

if 'banana'in t4:
  print("yes")
else:
  print("no")

yes

In [40]:
#23  Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

s1 = {1,2,3,4,5}
print(s1)

{1, 2, 3, 4, 5}

In [41]:
#15. Write a code to add the element 6 to the set {1, 2, 3, 4}

s2 = {1, 2, 3, 4}
s2.add(6)
s2

{1, 2, 3, 4, 6}